* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: rgb(233, 226, 216);
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}

body {
  overflow-x: hidden;
}

h1 {
  margin: 15px;
  font-weight: 600;
}

#card-container {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

img {
  margin: 10px;
}

button {
  margin: 20px;
  background-color: rgb(12, 63, 7);
  color: white;
  border-radius: 5px;
  width: 80px;
  height: 35px;
}

.reset-btn {
  height: 40px;
  width: 55px;
  position: absolute;
  bottom: -75px;
  right: 500px;
  background-color: brown;
}

.count {
  color: black;
  font-size: 20px;
  font-weight: 200;
}

p {
  text-align: justify;
  padding: 15px;
}

#card-container {
  position: relative;
}

hr {
  margin: 20px;
}

h3 {
  font-weight: 600;
}
